body {
  margin-left: 30%;
  margin-right: 30%;
  max-width: 100%;
}

h1 {
  font-size: xx-large;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  padding: 15px;
  margin: 15px;
  text-align: center;
}

#reset {
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  margin: 15px;
  background-color: #034a51;
  color: white;
  border-radius: 5px;
}

label {
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  margin: 15px;
  clear: left;
}

input {
  float: right;
}

header {
  background-color: #604;
  height: 5px;
}

footer {
  background-color: #604;
  height: 5px;
}