body {
  margin-left: 30%;
  margin-right: 30%;
  max-width: 100%;
}

#next {
  font-size: xx-large;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  margin: 15px;
  background-color: #034a51;
  color: white;
  border-radius: 5px;
  text-align: center;
}

#reset {
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  margin: 15px;
  background-color: #034a51;
  color: white;
  border-radius: 5px;
}

p {
  font-size: xx-large;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  margin: 15px;
}

header {
  background-color: #604;
  height: 5px;
}

footer {
  background-color: #604;
  height: 5px;
}